@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?z84rc5');
  src:  url('../fonts/icons/icomoon.eot?z84rc5#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?z84rc5') format('truetype'),
    url('../fonts/icons/icomoon.woff?z84rc5') format('woff'),
    url('../fonts/icons/icomoon.svg?z84rc5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search::before {
  content: "\e904";
}
.icon-logo .path1::before {
  content: "\e906";
  color: rgb(42, 41, 38);
}
.icon-logo .path2::before {
  content: "\e907";
  margin-left: -2.1484375em;
  color: rgb(42, 41, 38);
}
.icon-logo .path3::before {
  content: "\e908";
  margin-left: -2.1484375em;
  color: rgb(42, 41, 38);
}
.icon-logo .path4::before {
  content: "\e909";
  margin-left: -2.1484375em;
  color: rgb(42, 41, 38);
}
.icon-logo .path5::before {
  content: "\e90a";
  margin-left: -2.1484375em;
  color: rgb(42, 41, 38);
}
.icon-logo .path6::before {
  content: "\e90b";
  margin-left: -2.1484375em;
  color: rgb(42, 41, 38);
}
.icon-logo .path7::before {
  content: "\e90c";
  margin-left: -2.1484375em;
  color: rgb(116, 107, 96);
}
.icon-logo .path8::before {
  content: "\e90d";
  margin-left: -2.1484375em;
  color: rgb(116, 107, 96);
}
.icon-arrow::before {
  content: "\e900";
}
.icon-arrow-left::before {
  content: "\e901";
  color: #fff;
}
.icon-arrow-right::before {
  content: "\e902";
  color: #fff;
}
